@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pachang';
  src: url('/fonts/Panchang-Variable.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gradient buttons */
.border-gradient {
  position: relative;
}
.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(45deg, #7a87fb, #ffd49c);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

/* dark mode */
.dark {
  background: #000;
  /* #15171B */
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .parallax .scroller {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .logo-img {
    display: none; /* Hide the image when screen size is below 768px */
  }

  .avatar-mobile {
    margin-left: 20px;
  }

  .blog-mobile-description {
    text-align: center;
  }

  .blog-btns-mobile {
    text-align: center;
  }

  .austinimg-mobile {
    margin-left: 20px;
    margin-right: 20px;
  }

  .richtext-mobile {
    max-width: 100%;
    overflow-x: hidden;
  }

  .richtext {
    display: flex;
    flex-direction: column;
    align-items: center;

    & video,
    img,
    svg,
    canvas {
      max-width: 350px;
      height: auto;
    }

    & h1,
    h2,
    h3,
    h4 {
      font-size: 1.5rem;
      text-align: center;
    }

    & p {
      font-size: 1rem;
      text-wrap: pretty;
      width: 50%;
    }
  }

  .component-codeinline {
    font-size: 0.8rem;
  }

  .component-codeblock {
    overflow-x: scroll;
    width: 50%;
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.646);
}
