@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pachang';
  src: url('/fonts/Panchang-Variable.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gradient buttons */
.border-gradient {
  position: relative;
}
.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(45deg, #7a87fb, #ffd49c);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

/* dark mode */
.dark {
  background: #000;
}
